@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

* {
  font-family: 'Poppins';
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list__item {
  max-width: 200px;
  height: 270px;
}

.movie-list__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.avatar-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}